:root {
	--back: #415646;
	/* background color	*/
	--text: #e7e7e7;
	/* text color		*/
	--alt1: #564151;
	/* alternative color 1	*/
	--alt2: #564641;
	/* alternative color 2	*/
}

body {
	background: var(--back);
	color: var(--text);
	font-family: serif;
}

#headerContainer {
	color: var(--text);

}

#headerContainer a {
	color: var(--text);
	text-decoration: none;
	text-transform: uppercase;

}


#titleBar {
	font-size: 2em;
	text-align: center;

}

#navBar {
	display: flex;
	justify-content: center;
	flex-direction: row;
	justify-content: space-evenly;

}

#navBar h3 {
	font-size: 200%
}
